#dummy{}
@font-face {
		font-family: 'Slavjanic';
		font-weight: 400;
		font-style: normal;
		src: url('../f/7733.woff2') format('woff2');  /* Modern Browsers */}
@font-face {
		font-family: 'cob';
		src: url('../f/CyrillicOld.woff2') format('woff2');  /* Modern Browsers */}
/* 1. Сброс стилей */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,pre,a,abbr,acronym,address,cite,code,del,dfn,img,ins,kbd,q,s,samp,strike,strong,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,main,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:top;outline:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}ul{list-style:none}table,div,aside,main{border-collapse:collapse;border-spacing:0}img{border:0;max-width:100%;height:auto}iframe{max-width:100%}strong{font-weight:700}input,label{display:block}caption{text-align:left}

/* 2. Глобальные стили */
.c{*zoom:1}.c:before,.c:after{display:table;content:"";line-height:0}.c:after{clear:both}
.w{min-width:780px;max-width:auto;margin:0 auto}
.block_title{font-size:1.5em;margin-bottom:20px}
.element-invisible{display:none}
.field-label-inline div{display:inline}



/* 3. Стили тегов georgia,sans-serif*/
html{overflow-y:scroll;height:100%}
body{font:400 1em/1.5em georgia,tahoma,sans-serif;height:100%;position:relative}
/*body {font-family: Times, serif}*/
a{color:#003e8d}
a:hover,a:hover .more{color:#00acbb}
h1{font-weight:400;
		font-size:23px;
		display: inline-block;*zoom: 1;*display: inline;
		margin-left:30px;
		font-style:italic;
		color:#754522;
		z-index:2;
		position:relative;
		left:20px;
		padding-top:65px;}
h2{font-weight:400;font-size:1.5em;margin-bottom:15px}
h3{font-weight:700;font-size:1.2em;text-transform:uppercase}
h4{font-weight:700;font-size:1em}
h4{font-weight:700;font-size:1em}
article p+p{padding-top:20px}
/* article table{border-collapse:collapse;margin:5px 0 20px} */
/* article table td,article table th{border:1px solid #aaa;padding:3px 10px} */
article table thead{font-weight:700}
article table th{font-weight:700}
time{position:relative;margin:-3px 0 7px;font-size:.8em;display:block;color:#777}
table[border="0"] td{border:none}
table[border="0"] th{border:none}
table[align="center"]{margin-left:auto!important;margin-right:auto!important}
p[style="text-align:center"] + .media-element-container{text-align:center}

/* 4. Разметка */

#hidden_elements{display:none}

#frame{width:100%;height:100%;display:table}
#frame td{position:relative}
	.frame_row{display:table-row}

#intro{width:100%;height:100%;position:absolute;top:0;left:0;background:url(i/b.jpg)}
/* Шапка */

.header_wrap{width:100%}
.header_wrap>td{background-image:url(../i/header_img.jpg);
		background-repeat:no-repeat;
		background-position:50% 0;height:720px}
#header{width:100%;
		height:720px;
		position:relative;background-image:url(../i/header_img.jpg);
		background-repeat:no-repeat;
		background-position:50% 0;
		padding:0;
		position:relative;}
#header_content{width:1200px;
		margin:0 auto;
		height:640px;}
#header_content	#header-left{width:410px;}
#block-views-exp-search-page{position: relative;
		top:280px;
		left:43px;}
::-webkit-input-placeholder {color:#594f47;font-family:georgia;font-style:italic;}
::-moz-placeholder          {color:#594f47;font-family:georgia;font-style:italic;}/* Firefox 19+ */
:-moz-placeholder           {color:#594f47;font-family:georgia;font-style:italic;}/* Firefox 18- */
:-ms-input-placeholder      {color:#594f47;font-family:georgia;font-style:italic;}
:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}
#views-exposed-form-search-page input[type=submit]{text-indent:9999px;
		overflow:hidden;
		height:19px;
		position:relative;
		z-index:1;
		left:-40px;
		width:19px;
		top:10px;
		line-height:31px;
		border:none;
		display: inline-block;*zoom: 1;*display: inline;
		cursor:pointer;
		background:url(../i/search.png) no-repeat 50%!important;}
#edit-keys{width:340px;
		border-radius:30px;
		height:40px;
		background-color:#f3ece2;
		padding-left:15px;}

#header-middle{position:absolute;left:300px}
#header-right{position: relative;
		left:785px;
		top:-285px;
		background:url(../i/scroll.png) no-repeat;
		width:375px;
		height:565px;}

#header_slogan{position:absolute;
		font-size:13px;
		font-weight:400;
		left:0;
		top:65px;
		text-transform:uppercase;
		width:310px;
		margin-left:45px;
		text-align:center;
		color:#38536a;}
#header_slogan span{display:block;}
#header_slogan #name{color:#fff;
		font-family:slavjanic;
		font-size:39px;
		text-transform:uppercase;
		line-height:39px;
		margin-bottom:5px;}
	#logo{position:relative;top:20px;left:10px}
/*	#logo img{width:398px;height:269px;}*/

#block-block-6{position:relative;
		top:160px;
		width:260px;
		margin:0 auto;}	
#block-block-6 #border{border-bottom:1px solid #d4b583; 
        padding-bottom:15px;}
#block-block-6 .second{position: relative;
        top: -5px;}
#block-block-6 .part{font-size:14px;
		font-style:italic;
		position:relative;
		top:-10px;
		left:150px;
		color:#b4380c;
        width:150px;
}
		#block-block-6 .text{font-size:14px;
		font-style:italic;
		line-height:135%;
		color:#57321c;}
#block-block-6 .name{font-family:cob;
		font-size:24px;
		font-weight:700;
		position:relative;
		top:15px;
		padding-top:5px;
		color:#fff;}
		
#block-block-6 .name{width:83px;height:20px;overflow:hidden;background:url(../i/tropar.png);text-indent:999px;}
		
#block-block-6 .second .name{width:73px;height:20px;overflow:hidden;background:url(../i/kondak.png);text-indent:999px;}
		
/* Меню		 */
#block-menu-block-1{background:url(../i/menu.jpg) no-repeat 49%;
		height:79px;}
	#nav{position:absolute;bottom:0;left:0;width:100%;background:#eee;height:80px;}
		#nav li{display:inline-block;zoom:1;
		margin-right:57px;
		text-align:right;}
#nav.last{margin-right:70px;}	
#nav .last::after{display:none;}	
#nav .first{margin-left:52px;}		
		#nav .menu a,#nav .menu span{display:inline-block; zoom:1;
		width:100%;
		height:100%;
		line-height:79px;
		font-size:20px;
		font-style:italic;
		text-decoration:none;}
#nav .menu a{color:#fff;}	
#nav .menu span{color:#ffde5a;}	
#nav .menu a:hover{text-decoration:underline;}
#nav ul{width:1200px;
		margin:0 auto;}	

/*#nav li::after{position:relative;
		top:-50px;
		left:50px;
		content:"/";
		color:#eacea3;
		font-size:20px;
		font-style:italic;}
*/
/* Контент на главной */
.main_wrap{height:100%;
		background:url(../i/bg.jpg) repeat 50% 0;}
	#main2{display:table;width:100%;height:100%;table-layout:fixed}
	#main_row{display:table-row;
	background: -webkit-linear-gradient(top, rgba(198,198,190,1) 0%,rgba(0,0,0,0) 100px);
	background: linear-gradient(to bottom, rgba(198,198,190,1) 0%,rgba(0,0,0,0) 100px);}
