#dummy{}

/*Стили визуального редактора CKEditor*/
.rteindent1{margin-left:40px}
.rteindent2{margin-left:80px}
.rteindent3{margin-left:120px}
.rteindent4{margin-left:160px}
.rteleft{text-align:left}
.rteright{text-align:right}
.rtecenter{text-align:center}
.rtejustify{text-align:justify}
.ibimage_left{float:left}
.ibimage_right{float:right}

/*Системные сообщения*/
div.error{padding:10px;color:red;border:1px dotted red;background:#rgba(255, 0, 0, 0.11);margin:0 0 5px 0;font-size:11px;line-height:14px}
div.status{padding:10px;color:green;border:1px dotted green;background:rgba(0, 128, 0, 0.11);margin:0 0 5px 0}
div.error ul{margin:0!important;list-style:none!important}
div.error .item-list{display:inline;}
div.error .item-list ul{display:inline}